$XllLargeViewWidth: 1921px;
$XlLargeViewWidth: 1600px;
$hdLargeViewWidth: 1400px;
$desktopViewWidth: 1192px;
$smallDeskTopViewWidth: 992px;
$tabletViewWidth: 768px;
$minTabletViewWidth: 425px;
$mobileViewWidth : 360px;