$sizes: 1em, 2em, 3em, 4em, 5em;
//$halfSize: 0.5em, 1.5em, 2.5em, 3.5em, 4.5em, 5.5em;

//for padding ex padding: 1em 0
@each $size in $sizes {
  .paddingTb-#{$size} {
    padding: $size 0;
  }
}


//for margin ex margin: 1em 0
@each $size in $sizes {
  .margin-#{$size} {
    padding: $size 0;
  }
}

//for padding ex padding: 1em 1em 1em 1em
@each $size in $sizes {
  .paddingAll-#{$size} {
    padding: $size;
  }
}

//for margin ex margin: 1em 1em 1em 1em
@each $size in $sizes {
  .margin-#{$size} {
    padding: $size;
  }
}

@mixin formFields{
  label {
    font-size: 0.85em;
    color: var(--labelColor);
    font-weight: 400;
}

button {
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.requred {
    color: var(--FormWarrining);
    margin-left: 0.2em;
}

input,
select {
    font-size: 0.8em;
    border: 1px solid var(--borderColor);
    color: var(--placeHolderColor);

    &::placeholder {
        color: var(--placeHolderColor);
    }
}

.btn-padding {
    padding: 0.6em 3.5em !important;
    text-transform: capitalize;
}

.btn-icon {
    display: flex;
    gap: 0.8em;

    img {
        width: 1.4em;
    }
}

.btn-secondary {
    border: 1px solid #D9DBE3;
    background-color: #D9DBE3;
    color: #000;
}
}











@mixin checkbox {
  input[type="checkbox"] {
    --active: var(--checkboxButtonActiveBackgroundColor);
    --activeInner: var(--checkboxButtonActiveInnerColor);
    --focus: var(--checkboxButtonFocusColor);
    --border: var(--checkboxButtonBorderColor);
    --borderHover: var(--checkboxButtonBorderHoverColor);
    --background: var(--checkboxButtonBackgroundColor);
    --disabled: var(--checkboxButtonDisabledColor);
    --disableColor: var(--checkboxButtonDisabledInnerColor);
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;

    &:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;

      &:checked {
        --b: var(--disableColor);
        --bc: var(--border);
      }

      &+label {
        cursor: not-allowed;
      }
    }

    &:focus {
      box-shadow: 0 0 0 var(--focus);
      border: 1px solid var(--focus);
    }

    &:not(.switch) {
      width: 21px;
      padding: 0;

      &:after {
        opacity: var(--o, 0);
      }

      &:checked {
        --o: 1;
      }
    }

    &+label {
      font-size: 0.8em;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 7px;
    }
  }

  input[type="checkbox"] {
    &:not(.switch) {
      &:after {
        width: 3px;
        height: 8px;
        border: 2px solid var(--activeInner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        --r: 43deg;
      }
    }

  }

}

@mixin inputField {
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 60%;

    .formWrapIn {
      display: flex;
      gap: 1.2em;

      .fromInput {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .special-label {
          display: none;
        }

        .form-control {
          width: 100%;
        }

        label {
          font-size: 0.8em;
          color: var(--inputFormLabelColor);
          font-weight: 400;

          span {
            color: var(--primaryColor);
          }
        }

        .formWarning {
          color: red;
          font-size: 0.6em;
        }

        input,
        textarea,
        select {
          font-size: 0.8em;
          border: 1px solid var(--inputFormBorderColor);
          padding: 1em;
          font-family: inherit;
          box-shadow: 1px 2px 1px 0px #e2e2e2;
          color: #000;
          border-radius: 4px;

          &::placeholder {
            color: #dbd8d8;
          }
        }

        select {
          option {
            color: #000;
          }
        }

        button {
          padding: 1.2em;
        }

        &.formCheck {
          display: flex;
          flex-direction: row;
          gap: 3em;

          .checkBoxContainer {
            display: flex;
            flex-direction: row;
            @include checkbox;
          }
        }
      }

    }

  }
}