:root {
    //COLOR
    --primaryColor: #ff8811;
    --primaryColorLight: #539ED0;
    --bodyTextColor: #0D0D0D;
    counter-reset: li;

    //body max width
    --maxWidth: 1264px;
    --bodyGap: 4em;
    --smallBodyGap: 2em;

    //container WIDTH
    --containerSmWidth: 540px;
    --containerMdWidth: 720px;
    --containerLgWidth: 960x;
    --containerXlWidth: 1170px;
    --containerXxlWidth: 1320px;

    //FONT SIZE
    --baseSmallSize: 11px;
    --baseMideumSize: 12px;
    --baseLargeSize: 13px;
    --baseExtraLargeSize: 15px;
    --headingFontSize: 2.3em;

    //HEADER NAV
    --headerBorder: #969696;

    //FORM
    --inputFormBorderColor: #969696;
    --inputFormLabelColor: #969696;
    --buttonBGColor: #ff8811;
    --buttonColor: #fff;

    //TABLE
    --tableBorderColor: #e0e0e0;

    // CHECKBOX and RADIOBUTTON
    --checkboxButtonActiveBackgroundColor: #005191;
    --checkboxButtonActiveInnerColor: #fff;
    --checkboxButtonFocusColor: #005191;
    --checkboxButtonBorderColor: #bbc1e1;
    --checkboxButtonBorderHoverColor: #005191;
    --checkboxButtonBackgroundColor: transparent;
    --checkboxButtonDisabledColor: #005191;
    --checkboxButtonDisabledInnerColor: #e1e6f9;

    //FOOTER
    --footerVolBgColor: #9DD9D2;
    --footerBgColor: #392F5A;
    --footerColor: #fff;

    //STEP PROGRESS
    --completeColor: #FF8811;
    --progressColor: #FF8811;
    --labelColor: #0A2540;
    --borderColor: #D9DBE3;
    --placeHolderColor: #7F7F7F;
    --FormWarrining:#A30000;
}