@import "../../../../assets/scss/common.scss";
.lro-success-modal{
    .modal-content{
        border-radius: 4px;
    }
    .modal-header{
        border-bottom: 0;
        padding: 0.5em 0.5em 0.3em;
    }
    p{
        font-size: 0.8em;
    }
    @include formFields;
}