.header-main {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0px 6px 11px 0px #40444d0f;
  -webkit-box-shadow: 0px 6px 11px 0px #40444d0f;

  .logo-text {
    font-weight: 600;
    font-size: 1.8em;
    cursor: pointer;
  }

  .border {
    height: 20px;

    @media only screen and (max-width: 992px) {
      display: none;
    }
  }

  .nav-link {
    color: var(--bodyTextColor);
    font-weight: 500;
    font-size: 0.95em;
    svg {
      width: 1.8em;
    }
    &:hover {
      color: var(--primaryColor);
      svg {
        path {
          stroke: var(--primaryColor);
        }
      }
    }
  }

  .me-auto {
    justify-content: end;
    gap: 1em;
    width: 100%;
    align-items: center;
    .NavLinks {
      position: relative;
      .polygon {
        position: absolute;
        z-index: 999;
        margin-top: 20%;
        margin-left: 25%;
      }
      .sub-links {
        position: absolute;
        background-color: white;
        z-index: 1000;
        padding: 10px 1px;
        width: 496px;
        margin-top: 34%;
        border-radius: 5px;
        margin-left: -180%;
        font-weight: 500;
        font-size: 0.95em;
        box-shadow: 0px 4px 14.4px 0px rgba(0, 0, 0, 0.33);

        .sub-menu {
          display: flex;
          flex-direction: row;
          .feature {
            width: 215px;
            margin-right: 20px;
            display: flex;
            flex-direction: row;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    width: 256px;
    position: fixed;
    overflow-y: auto;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
    transition: max-height 0.01s ease-in-out;

    .me-auto {
      margin: 2.5em 1.5em 3.7em 1.5em;
      align-items: initial;
      gap: 0em;
      .botton {
        position: fixed;
        z-index: 1000;
        background-color: white;
        bottom: 0;
        left: 0;
        width: 256px;
        padding: 15px;
      }
      .sub-links {
        width: 200px !important;
        padding-left: 20px !important;
        position: relative !important;
        margin-top: 0 !important;
        border-radius: 0 !important;
        margin-left: 0 !important;
        flex-direction: column !important;
        box-shadow: none !important;
        font-weight: 500;
        font-size: 0.95em;

        .sub-menu {
          display: flex !important;
          flex-direction: column !important;
          .feature {
            width: 180px !important;
            height: 20px;
            padding: 2px;
            margin: 5px 0px;
          }
        }
      }
    }
  }
}
