@mixin largeScreenBefore {
    counter-increment: li;
    content: counters(li, "") " ";
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@mixin smallScreenBefore {
    counter-increment: li;
    content: counters(li, "") " ";
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 12px;
    border-radius: 50%;
}

.lro-registration-main {
    position: relative;

    .lro-top-title {
        h1 {
            color: #0A2540;
            font-weight: 600;
            font-size: 2.5em;
            margin-bottom: 0.2em;
        }

        p {
            color: #7F7F7F;
            font-size: 0.85em;
            font-weight: 400;
        }
    }

    .lro-progress-steps {
        margin: 0;
        list-style-type: none;

        li {
            position: relative;
            font-size: 0.8em;
            color: var(--progressColor);
            padding: 0.1em 0 0.4em 2em;

            .lro-value {
                position: relative;
                display: flex;
                align-items: center;

                p {
                    margin-bottom: 0;
                }
            }

            &.current {
                color: var(--primaryColor);

                &:before {
                    background-color: var(--primaryColor);
                    @include smallScreenBefore;
                }
            }

            &.upcoming {
                color: #2B3E52;

                &:before {
                    border: 2px solid var(--progressColor);
                    @include smallScreenBefore;
                }
            }

            &.completed {
                color: #7F7F7F;

                &:before {
                    background-color: var(--completeColor);
                    @include smallScreenBefore;
                }
            }

            &:before {
                position: absolute;
                left: 0;
                font-size: 0.9em;
                background-color: #fff;
                width: 12px;
                height: 12px;
                border-radius: 50%;

                @media all and (max-width: 600px) {
                    top: calc(50% - 8px);
                    font-size: 0.9em;
                }
            }
        }

        @media all and (min-width: 600px) {
            display: table;
            list-style-type: none;
            margin: 1.6em auto;
            padding: 0;
            table-layout: fixed;
            width: 100%;

            li {
                display: table-cell;
                text-align: center;
                padding: 0;
                padding-bottom: 1em;
                font-size: 0.8em;
                position: relative;
                border-left-width: 0;
                border-bottom-width: 2px;
                border-bottom-style: solid;
                border-bottom-color: var(--progressColor);

                .lro-value {
                    position: absolute;
                    width: 100%;
                    height: 50px;
                    bottom: -70px;
                    display: flex;
                    justify-content: center;

                    p {
                        margin-bottom: 0;
                        width: 153px;
                    }
                }

                &.upcoming {
                    color: #2B3E52;
                    border-bottom-color: var(--progressColor);

                    &:before {
                        color: var(--progressColor);
                        @include largeScreenBefore;
                    }
                }


                &.completed {
                    color: #7F7F7F;
                    border-bottom-color: var(--completeColor);

                    &:before {
                        color: #fff;
                        @include largeScreenBefore;
                    }
                }

                &.current {
                    color: var(--primaryColor);
                    border-bottom-color: var(--primaryColor);

                    &:before {
                        color: #fff;
                        @include largeScreenBefore;
                    }
                }

                &:before {
                    bottom: -12px;
                    left: 50%;
                    margin-left: -9px;


                }
            }
        }
    }

    .lro-components {
        position: relative;
        max-width: 650px;
        margin: auto;
        box-shadow: 0px 8px 22px 0px rgba(57, 47, 90, 0.10);
        -webkit-box-shadow: 0px 8px 22px 0px rgba(57, 47, 90, 0.10);
        border-radius: 24px;
        margin-top: 4em;
        padding: 2.5em 3em;

        @media all and (max-width: 767px) {
            width: 100%;
        }

        label {
            font-size: 0.85em;
            color: var(--labelColor);
            font-weight: 400;
        }

        button {
            color: #fff;
            font-weight: 500;
            font-size: 1em;
        }

        .requred {
            color: var(--FormWarrining);
            margin-left: 0.2em;
        }

        input,
        select {
            font-size: 0.8em;
            border: 1px solid var(--borderColor);
            color: var(--placeHolderColor);

            &::placeholder {
                color: var(--placeHolderColor);
            }
        }

        .btn-padding {
            padding: 0.6em 3.5em !important;
            text-transform: capitalize;
        }

        .btn-icon {
            display: flex;
            gap: 0.8em;

            img {
                width: 1.4em;
            }
        }

        .btn-secondary {
            border: 1px solid #D9DBE3;
            background-color: #D9DBE3;
            color: #000;
        }

        .address-step-title {
            display: flex;
            align-items: center;

            img {
                width: 4em;
            }

            h6 {
                color: #0A2540;
                font-weight: 500;
                font-size: 1em;
                margin-bottom: 0;
            }

            .address-step-save {
                cursor: pointer;
            }
        }
    }
}