/* Your customizations here */
$primary: #ff8811;
$theme-colors: (
    "primary": $primary,

);
$font-family :'metropoils',
sans-serif;

/* import bootstrap to set changes */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import '~bootstrap/scss/bootstrap';