@import url("./assets/scss/font.scss");
@import url("./assets/scss/variable.scss");
@import url("./assets/scss/common.scss");
@import "./custom.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'metropoils', sans-serif !important;
    font-weight: 400;
    color: var(--bodyTextColor);
}

.pageContainer {
    max-width: var(--maxWidth);
    width: 100%;
    margin: 0 auto;
}
.formWarning {
    color: var(--FormWarrining);
    font-size: 0.6em;
  }
@media only screen and (max-width: 1192px) {
    body {
        font-size: var(--baseMideumSize) !important;
    }

    .pageContainer {
        max-width: var(--containerLgWidth);
        width: calc(100% - var(--bodyGap));
        margin: 0 auto;
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: var(--baseSmallSize) !important;
    }

    .pageContainer {
        max-width: var(--containerMdWidth);
        width: calc(100% - var(--smallBodyGap));
        margin: 0 auto;
    }
}