@import url("./assets/scss/font.scss");
@import url("./assets/scss/variable.scss");
@import url("./assets/scss/common.scss");
@import "./custom.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--bodyTextColor);
}

.pageContainer {
    max-width: var(--maxWidth);
    width: 100%;
    margin: 0 auto;
}